h2 {
  font-family: Cambria, Times New Roman;
margin: 10px;
  font-size: 48px;
  color:steelblue;
  
  }
h4 {
  color:steelblue;
  font-family: Cambria, Times New Roman;
  font-size: 20px;
  font-style: bold;
  margin: 10px
  
  
}

h5 {
  font-family: Cambria, Times New Roman;
  font-size: 16px;
  margin: 10px
  
}

description {
  font-family: Cambria, Times New Roman;
  font-size: 24px;
  flex-wrap: wrap;
  margin: 0px;

  
}

background {
  border: 2px solid grey;
  margin: 0px;
  padding: 10px;
  background-position: center top;
  background-image: url("grey.jpg");
  background-size: cover;
}

spacing {
 width: 800px;
  margin: 0 0 16px 0;
  border: 5px solid black;
  padding: 0 0 32px 0;
  line-height: 1.5;
}
  
date {
  float: right;
  margin:  0px;
}
p {
  padding: 0px;
  margin: 0px;
}
