h2 {
  font-family: Calibra, Cambria, Times New Roman;
  text-align: center;
  font-size: 48px;
  
  }
h3 {
  color:steelblue;
  font-family: Calibra, Cambria, Times New Roman;
  font-size: 32px;
  
}

description {
  font-family: Calibra, Cambria, Times New Roman;
  font-size: 16px;
  
}

background {
  background-image: url("http://l.rgbimg.com/cache1wbq8i/users/c/ca/carloszk/600/ov6dvyY.jpg");
  background-size: cover;
}
  
